

<div class='chunky-section'>
  <div>
    <h2>Make a man a god:</h2>
    <% form_tag :controller => 'admins', :action => 'adminify' do %>
      <%= label_tag :who, "who?"%>
      <%= text_field_tag :who %>
      <%= submit_tag 'Adminify!' %>
    <% end %>
  </div>
  
  <div>
    A little help, here:  If you just installed mombot you can turn your first pez into an admin without 
    logging in.  This is a setup step.  Otherwise, you can only turn users into admins -- and only if you are 
    logged in as an admin.
  </div>
</div>
