
div { margin: 1em; }

label {
	display: block;
	float: left;
	width: 100px;
	text-align: right;
	margin: 0px 5px 0px 0px;
}

.header { border-style: dotted; border-width: 1px; }
.dispenser { border-style: dotted; border-width: 1px; }

.headerheader { font-size: 2em; margin-right: 1em; }

.status { font-size: 4em; }
.mail-in-form { 
  border-style: dotted; 
  border-width: 3px; 
  border-color: orange;
  background-color: yellow;
}

.chunky-section {
  border-style: dotted; 
  border-width: 3px; 
  border-color: #99FF99;
  background-color: #99CCFF;
}

.liked { border-style: dotted; border-width: 3px; border-color: green; }
.disliked { border-style: dotted; border-width: 3px; border-color: red; }

#new-candy { font-size: 4em; }
#no-candy { font-size: 4em; }

/* generic stuff: */

.message-flash {
  border-style: dotted; 
  border-width: 3px; 
  border-color: green;
  background-color: aqua;
}

.notice-flash {
  border-style: dotted; 
  border-width: 3px; 
  border-color: green;
  background-color: aqua;
}

.warning-flash {
  border-style: dotted; 
  border-width: 3px; 
  border-color: orange;
  background-color: yellow;
}

.error-flash {
  border-style: dotted; 
  border-width: 3px; 
  border-color: red;
  background-color: yellow;
}
