body { font-family: Verdana, sans-serif; font-size: 16px; line-height: 1.5em; margin: 0; padding: 0 }

h1,
#bd .dispenser h2 { margin: 0; font-size: 1.5em; line-height: 1em; margin-bottom: 1em; }
h2 { margin: 0; font-size: 1.375em; line-height: 1.0909090909090908em; margin-bottom: 1.0909090909090908em; }
h3 { margin: 0; font-size: 1.25em; line-height: 1.2em; margin-bottom: 1.2em; }
h4 { margin: 0; font-size: 1.125em; line-height: 1.3333333333333333em; margin-bottom: 1.3333333333333333em; }

p,
ul,
blockquote,
pre,
td,
th,
label { margin: 0; font-size: 1em; line-height: 1.5em; margin-bottom: 1.5em; }

table { border-collapse: collapse; margin-bottom: 1.5em; }

.layout { margin: 0 auto; text-align: left; width: 720px; }
.layout:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; width: 0; }

#hd,
#bd,
#ft { text-align: center; }

#hd { background: #87CEEB; border-bottom: solid 4px #9ACD32; color: #FFF; }
#hd .layout { height: 60px; position: relative; }

#hd a { color: #FFF; }

#hd h2 { bottom: -17px; float: left; font-size: 72px; line-height: 1em; margin-bottom: 0; position: absolute; }
#hd h2 a { text-decoration: none; }

#hd .navigation { float: right; margin-top: 1.5em; }
#hd .navigation h4,
#hd .navigation ul,
#hd .navigation li { display: inline; }
#hd .navigation h4 { font-size: 1em; font-weight: normal; line-height: 1.5em; margin: 0; }
#hd .navigation ul { margin: 0; padding: 0; }

#ft { margin: 0; font-size: 0.875em; line-height: 1.7142857142857142em; margin-bottom: 1.7142857142857142em; }

#bd { border-top: solid 8px #A0522D; padding: 1.5em 0; }
#bd .dispenser { float: left; margin-right: 20px; width: 45%; }
#bd .dispenser h2 { margin-bottom: 0.5em; }

form label { display: block; margin: 0; }
form input { font-size: 1em; line-height: 1.5em; }
form input,
form .colour { display: block; margin-bottom: 0.75em; }
form .colour { height: 4em; width: 6em; }

.status { font-size: 4em; }

.mail-in-form { 
  border-style: dotted; 
  border-width: 3px; 
  border-color: orange;
  background-color: yellow;
}

.chunky-section {
  border-style: dotted; 
  border-width: 3px; 
  border-color: #99FF99;
  background-color: #99CCFF;
}

.liked { border-style: dotted; border-width: 3px; border-color: green; }
.disliked { border-style: dotted; border-width: 3px; border-color: red; }

#new-candy { font-size: 4em; }
#no-candy { font-size: 4em; }

.message-flash {
  border-style: dotted; 
  border-width: 3px; 
  border-color: green;
  background-color: aqua;
}

.notice-flash {
  border-style: dotted; 
  border-width: 3px; 
  border-color: green;
  background-color: aqua;
}

.warning-flash {
  border-style: dotted; 
  border-width: 3px; 
  border-color: orange;
  background-color: yellow;
}

.error-flash {
  border-style: dotted; 
  border-width: 3px; 
  border-color: red;
  background-color: yellow;
}
