
div { margin: 1em; }

label {
	display: block;
	float: left;
	width: 100px;
	text-align: right;
	margin: 0px 5px 0px 0px;
}

.header { border-style: dotted; border-width: 1px; }
.dispenser { border-style: dotted; border-width: 1px; }

.headerheader { font-size: 2em; margin-right: 1em; }

.status { font-size: 4em; }

.liked { border-style: dotted; border-width: 3px; border-color: green; }
.disliked { border-style: dotted; border-width: 3px; border-color: red; }

#new-candy { font-size: 4em; }