
<div class='mail-in-form'>
  The mail-in form will go here when Geoff makes it.
</div>

<div class='mail-in-form'>
  For now, please email steven (public@deobald.ca) with an image attachment if you want to be seated.
</div>
