
<div class='dispenser'>
  <div>seated:</div>
  <ul>
    <% @seated.each do |pez| %>
    <li><%= pez.identity %></li>
    <% end %>
  </ul>
</div>

<div class='dispenser'>
  <div>waiting:</div>
  <ul>
    <% @waiting.each do |pez| %>
    <li><%= pez.identity %></li>
    <% end %>
  </ul>
</div>
