
<div class='dispenser'>
  <div>seated:</div>
  <ul>
    <% @seated.each do |pez| %>
    <li><%= pez.identity %></li>
    <% end %>
  </ul>
</div>

<div class='dispenser'>
  <div>waiting:</div>
  <ul>
    <% @waiting.each do |pez| %>
    <li><%= pez.identity %></li>
    <% end %>
  </ul>
</div>

<p>Welcome, potential celebrant! If you would like to celebrate, please 
<%= link_to "apply", :controller => "pezez", :action => "new" %></p>
