
<div class="dispenser">
  <h2>seated:</h2>
  <ul>
    <% @seated.each do |pez| %>
    <li><%= link_to pez.identity, pez_path(pez) %></li>
    <% end %>
  </ul>
</div>

<div class="dispenser">
  <h2>waiting:</h2>
  <ul>
    <% @waiting.each do |pez| %>
    <li><%= pez.identity %></li>
    <% end %>
  </ul>
</div>
