
<h1>hello</h1>

<!-- make a rails form -->
<div>identity:</div>
<input type-'text'>

<div>colour:</div>
<input type-'color'>

<div></div>
<input type='button' value='add me to the dispenser, please!' />
